body
{
  text-align: center;
  font-family: helvetica;
}

.banner1
{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
    background-size: cover;
    background-position: center;
    height: 240px;
    color: white;
}

#title
{
font-size: 70px;
color: white;
font-style: helvetica;
font-weight: bold;
}

#list
{
  list-style-type: none;
  font-family: helvetica;
  font-size: 18px;
  color: white;
  }

a
{
  color: white;
}


#subtitle
{
  font-size: 32px;
  font-style: helvetica;
  font-weight: bold;
}

.subtitle2
{
  font-size: 23px;
  font-style: helvetica;
  font-weight: bold;
}

.blurb
{
  font-size: 14px;
  font-style: helvetica;
}


.banner2
{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
background-size: auto;
background-position: center;
font-weight: bold;
color: white;
}

.btn-nav {
  font-size: 18px;
  color: white;
}


.footer
{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  color: white;
  text-align: left;
}
